<div class='multi <%= field_name.pluralize %>'>
  <span class='label'><%= contactable.class.human_attribute_name(field_name.pluralize) %>:</span>
  <ul>
  <% contactable.send(field_name.pluralize).each do |field| %>
    <% @field = field %>
    <li id='<%= dom_id field %>'><%= in_place_editor_for [contactable, field], {field_name.to_sym => field_name.pluralize + '/' + field_name}, {:display => send(field_name + '_label',field)} %> <span>(<%= link_to_remote t('actions.destroy'), { :url => url_for([field.owner, field]), :confirm => t('actions.confirm_destroy'), :method => :delete } %>)</span></li>
  <% end %>
  </ul>
  <%= link_to_function t(contactable.class.to_s.downcase.pluralize.dasherize + '.' + contactable.class.to_s.downcase.dasherize + '.add_' + field_name), "$('#new_#{field_name}_form').show();$('#new_#{field_name}_link').hide()", :id => "new_#{field_name}_link" %>
  <div id='new_<%= field_name %>_form' class = 'new_field_form' style='display: none;'>
    <% @field = contactable.send(field_name.pluralize).new %>
    <%= render :partial => field_name.pluralize + '/form', :locals => {field_name.to_sym => @field } %>
  </div>
</div>