<h1><%= t('.title') %></h1>
<ul class='list actions'>
  <li class='first'><%= link_to t('.new'), new_product_type_path %></li>
</ul>
<div id='product_types' class='list'>
<% @product_types.each_with_index do |product_type, index| %>
  <div class='product-type element <%= odd_or_even(index) %>'>
    <h3><%=h product_type.name %></h3>
    <br/>
    <ul class='actions'>
      <li class='first'><%= link_to t('actions.show'), product_type_path(product_type) %></li>
      <li><%= link_to t('actions.destroy'), product_type_path(product_type), :confirm => t('actions.confirm_destroy'), :method => :delete %></li>
    </ul>
  </div>
<% end %>
</div>