<h1>Listing order items for <%= link_to parent, admin_restaurant_order_path(parent.restaurant, parent) %></h1>

<table class='table'>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Discount</th>
    <th>Subtotal</th>
    <th class='last'>Actions</th>
  </tr>

<% collection.each_with_index do |resource, index| %>
  <% parent = resource.order %>
  <tr class='<%= odd_or_even(index) %>'>
    <td><%=h resource.product.name %></td>
    <td><%=h resource.quantity %></td>
    <td><%= number_to_percentage(resource.discount*100, :precision => 0) %></td>
    <td><%= number_to_currency(resource.subtotal, :unit => "$") %></td>
    <td class='last'><%= link_to 'Show', admin_restaurant_order_order_item_path(parent.restaurant, parent, resource) %> | <%= link_to 'Edit', edit_admin_restaurant_order_order_item_path(parent.restaurant, parent, resource) %> | <%= link_to 'Destroy', admin_restaurant_order_order_item_path(parent.restaurant, parent, resource), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class='actions-bar'>
  <%= link_to 'New order item', new_admin_restaurant_order_order_item_path(parent.restaurant, parent) %>
</div>