  <p>
    <span class='label'><%= User.human_attribute_name('username') %>:</span>
    <%= in_place_editor_for @user, {:username => 'users/username'}, {:display => @user.username} %>
  </p>
  <p>
    <span class='label'><%= User.human_attribute_name('email') %>:</span>
    <%= in_place_editor_for @user, {:email => 'users/email'}, {:display => @user.email} %>
  </p>
   <p>
    <span class='label'><%= User.human_attribute_name('locale') %>:</span>
    <%= in_place_editor_for @user, {:locale => 'users/locale'}, {:display => @user.locale.blank? ? '-' : t('this_file_language')} %>
  </p>