<div id='<%= dom_id @user %>'>
  <p>
    <b><%= User.human_attribute_name('username') %>:</b>
    <%= in_place_editor_for @user, {:name => 'users/username'}, {:display => @user.username} %>
  </p>
  <p>
    <b><%= User.human_attribute_name('email') %>:</b>
    <%= in_place_editor_for @user, {:name => 'users/email'}, {:display => @user.email} %>
  </p>
  <p>
    <b><%= User.human_attribute_name('name') %>:</b>
    <%= in_place_editor_for @user, {:name => 'contacts/name'}, {:display => @user.name} %>
  </p>
  <p>
    <b><%= User.human_attribute_name('birthday') %>:</b>
    <%= in_place_editor_for @user, {:name => 'contacts/birthday'}, {:display => @user.birthday ? @user.birthday : '-'} %>
  </p>
  <% ['phone', 'email', 'address', 'instant_messenger', 'website'].each do |field_name| %>
  <p>
    <b><%= User.human_attribute_name(field_name.pluralize) %>:</b>
    <ul>
    <% @user.send(field_name.pluralize).each do |field| %>
      <li><%= in_place_editor_for [@user, field], {field_name.to_sym => field_name.pluralize + '/' + field_name}, {:display => send(field_name + '_label',field)} %></li>
    <% end %>
    </ul>
    <%= link_to_function t('users.user.add_' + field_name), "$('#new_#{field_name}_form').show();$('#new_#{field_name}_link').hide()", :id => "new_#{field_name}_link" %>
    <div id='new_<%= field_name %>_form' style='display: none;'>
    <%= render :partial => field_name.pluralize + '/form', :locals => {field_name.to_sym => @user.send(field_name.pluralize).new} %>
    </div>
  </p>
  <% end %>
</div>