<h1><%= t('.title') %></h1>
<ul class='actions'>
  <li class='first'><%= link_to t('.new'), new_user_path %></li>
</ul>
<div class='list'>
<% @users.each_with_index do |resource, index| %>
  <div class='user element <%= odd_or_even(index) %>'>
    <h3><%=h resource.username %></h3>
    <ul>
      <li><%=h resource.email %></li>
    </ul>
    <ul class='actions'>
      <li class='first'><%= link_to t('actions.show'), user_path(resource) %></li>
      <li><%= link_to t('actions.destroy'), user_path(resource), :confirm => t('actions.confirm_destroy'), :method => :delete %></li>
    </ul>
  </div>
<% end %>
</div>