<h2>Listing users</h2>

<table class='table'>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th class='last'>Actions</th>
  </tr>

<% @users.each_with_index do |resource, index| %>
  <tr class='<%= odd_or_even(index) %>'>
    <td><%=h resource.username %></td>
    <td><%=h resource.email %></td>
    <td class='last'><%= link_to 'Show', user_path(resource) %> | <%= link_to 'Edit', edit_user_path(resource) %> | <%= link_to 'Destroy', user_path(resource), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class='actions-bar'>
  <%= link_to 'New user', new_user_path %>
</div>