<div id='<%= dom_id @order %>'>
    <p>
      <b>Generated At:</b>
      <% if @order.open? %>
        <%= in_place_editor_for @order, :generated_at => 'orders/generated_at' %>
      <% else %>
        <%=h @order.generated_at %>
      <% end %>
    </p>

    <p>
      <b>Discount:</b>
      <% if @order.open? %>
        <%= in_place_editor_for @order, {:discount => 'orders/discount'}, {:display => discount_label(@order.discount)} %>
      <% else %>
        <%= discount_label(@order.discount) %>
      <% end %>
    </p>

    <p>
      <b>Total:</b>
      <%=h number_to_currency(@order.total, :unit => "$") %>
    </p>

    <p>
      <b>Closed:</b>
      <%=h @order.closed? %>
    </p>

    <div id='order_items'>
      <% @order.order_items.group_by { |oi| oi.product.product_type }.each do |product_type, order_items| %>
        <h3><%= product_type.name %></h3>
        <div id='<%= product_type.name.dasherize %>'>
          <% order_items.each do |order_item| %>
             <div class='order-item'>
               <%= render :partial => 'order_items/order_item', :locals => {:order_item => order_item} %>
             </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>