<div id='<%= dom_id @order %>'>
  <p>
    <span class='label'><%= Order.human_attribute_name('contact') %>:</span>
    <% if @order.open? %>
      <%= in_place_editor_for @order, {:contact => 'orders/contact'}, {:display => @order.contact.nil? ? 'no contact' : @order.contact.name} %>
    <% else %>
      <%=h @order.contact.name if @order.contact %>
    <% end %>
  </p>

  <% if @order.contact %>
  <p>
    <span class='label'><%= Order.human_attribute_name('address') %>:</span>
    <% if @order.open? %>
      <%= in_place_editor_for @order, {:address => 'orders/address'}, {:display => @order.address.nil? ? 'no address selected' : @order.address.full_address} %>
    <% else %>
      <%=h @order.address.full_address if @order.address %>
    <% end %>
  </p>
  <% end %>

  <p>
    <span class='label'><%= Order.human_attribute_name('table') %>:</span>
    <% if @order.open? %>
        <%= in_place_editor_for @order, {:table_id => 'orders/table'}, {:display => @order.table_id.blank? ? 'no table' : @order.table_id} %>
    <% else %>
      <%=h @order.table_id %>
    <% end %>
  </p>

  <p>
    <span class='label'><%= Order.human_attribute_name('generated_at') %>:</span>
    <% if @order.open? %>
      <%= in_place_editor_for @order, :generated_at => 'orders/generated_at' %>
    <% else %>
      <%=h @order.generated_at %>
    <% end %>
  </p>

  <p>
    <span class='label'><%= Order.human_attribute_name('discount') %>:</span>
    <% if @order.open? %>
      <%= in_place_editor_for @order, {:discount => 'orders/discount'}, {:display => discount_label(@order.discount)} %>
    <% else %>
      <%= discount_label(@order.discount) %>
    <% end %>
  </p>

  <p>
    <span class='label'><%= Order.human_attribute_name('total') %>:</span>
    <%=h number_to_currency(@order.total, :unit => "$") %>
  </p>

  <p>
    <span class='label'><%= Order.human_attribute_name('closed') %>:</span>
    <% if @order.open? %>
      <%= in_place_editor_for @order, {:closed => 'orders/closed'} %>
    <% else %>
      <%=h @order.closed? %>
    <% end %>

  </p>

  <p>
    <span class='label'><%= Order.human_attribute_name('notes') %>:</span>
    <% if @order.open? %>
      <%= in_place_editor_for @order, {:notes => 'orders/notes'} %>
    <% else %>
      <%=h @order.notes %>
    <% end %>
  </p>
</div>