<h2>Listing orders</h2>
<div class="orders">
<% @orders.each_with_index do |order, index| %>
  <div class='<%= odd_or_even(index) %> order'>
    <ul>
        <li><%=h order.to_s %></li>
        <li><%=h order.generated_at %></li>
        <li><%=h discount_label(order.discount) %></li>
        <li><%=h number_to_currency(order.total, :unit => "$") %></li>
        <li><%=h order_status_label(order) %></li>
    </ul>
    <div class='order-actions'><%= link_to 'Show', order_path(order) %></div>
  </div>
<% end %>
</div>
<div class='actions-bar'>
  <%= link_to 'New order', new_order_path %>
</div>