<h1><%= t('orders.index.title') %></h1>
<ul class='list actions'>
  <li class='first'><%= link_to t('.new'), new_order_path %></li>
  <li><%= link_to_function t('actions.search'), "open_modal('search_orders')" %></li>
</ul>
<div id='search_orders' class='modal' style='display:none;'>
  <%= render :partial => 'search_form' %>
</div>

<%= render :partial => 'list', :locals => {:orders => @orders} %>