<div id='<%= dom_id @contact %>'>
  <p>
    <span class='label'><%= Contact.human_attribute_name('name') %>:</span>
    <%= in_place_editor_for @contact, {:name => 'contacts/name'}, {:display => @contact.name} %>
  </p>
  <p>
    <span class='label'><%= Contact.human_attribute_name('birthday') %>:</span>
    <%= in_place_editor_for @contact, {:name => 'contacts/birthday'}, {:display => @contact.birthday} %>
  </p>
  <% ['phone', 'email', 'address', 'instant_messenger', 'website'].each do |field_name| %>
    <%= render :partial => 'shared/contactable_field', :locals => {:field_name => field_name} %>
  <% end %>
</div>