<%= f.input :first_name %>
<%= f.input :middle_name %>
<%= f.input :last_name %>
<%= f.input :birthday %>

<div id='phones'>
  <%= f.label :phones, 'Phones' %>
  <% f.inputs :for => :phones do |pf|%>
    <%= render :partial => 'contacts/phone', :locals => {:f => pf} %>
    <%= remove_link_unless_new_record(pf) %>
  <% end %>
</div>
<%= add_new_record_link f.object, :phone, f %>

<div id='addresses'>
  <%= f.label :addresses, 'Addresses' %>
  <% f.inputs :for => :addresses do |af|%>
    <%= render :partial => 'contacts/address', :locals => {:f => af} %>
    <%= remove_link_unless_new_record(af) %>
  <% end %>
</div>
<%= add_new_record_link f.object, :address, f %>

<div id="emails">
  <%= f.label :emails, 'Emails' %>
  <% f.inputs :for => :emails do |ef| %>
    <%= render :partial => 'contacts/email', :locals => {:f => ef} %>
    <%= remove_link_unless_new_record(ef) %>
  <% end %>
</div>
<%= add_new_record_link f.object, :email, f %>

<div id='instant_messengers'>
  <%= f.label :instant_messengers, 'Instant Messengers' %>
  <% f.inputs :for => :instant_messengers do |imf|%>
    <%= render :partial => 'contacts/instant_messenger', :locals => {:f => imf } %>
    <%= remove_link_unless_new_record(imf) %>
  <% end %>
</div>
<%= add_new_record_link f.object, :instant_messenger, f %>

<div id='websites'>
  <%= f.label :websites, 'Websites'%>
  <% f.inputs :for => :websites do |wf|%>
    <%= render :partial => 'contacts/website', :locals => {:f => wf} %>
    <%= remove_link_unless_new_record(wf) %>
  <% end %>
</div>
<%= add_new_record_link f.object, :website, f %>