<h1><%= t('contacts.index.title') %></h1>

<div>
  <%= link_to t('contacts.index.all'), contacts_path %>
<% ('a'..'z').each do |c| %>
  <%= link_to c, contacts_path(:starts_with => c) %>
<% end %>
</div>

<div id="orders" class='list'>
<% @contacts.each_with_index do |contact, index| %>
  <div class='contact element <%= odd_or_even(index) %>'>
    <h3><%=h contact.name %></h3>
    <ul>
      <li><%= contact.age %></li>
    </ul>
    <div class='order-actions'><%= link_to t('actions.show'), contact_path(contact) %></div>
  </div>

<% end %>
</div>

<div class='actions-bar'>
  <%= link_to 'New contact', new_contact_path %>
</div>