<h1><%= t('contacts.index.title') %></h1>
<ul class='actions'>
  <li class='first'><%= link_to t('.new'), new_contact_path %></li>
  <li><%= link_to t('contacts.index.all'), contacts_path %></li>
  <% ('a'..'z').each do |c| %>
    <li><%= link_to c, contacts_path(:starts_with => c) %></li>
  <% end %>
</ul>

<div id="orders" class='list'>
<% @contacts.each_with_index do |contact, index| %>
  <div class='contact element <%= odd_or_even(index) %>'>
    <h3><%=h contact.name %></h3>
    <ul>
      <li><span class='label'><%= Contact.human_attribute_name('age') %>:</span> <%= contact.age %></li>
    </ul>
    <ul class='actions'>
      <li class='first'><%= link_to t('actions.show'), contact_path(contact) %></li>
    </ul>
  </div>
<% end %>
</div>