<% @enable_tabs = true %>
<% content_for :tab_links do %>
   <ul>
     <li><a href="#tabs-1"><%= t('contacts.show.details_title') %></a></li>
     <li><a href="#tabs-2"><%= t('contacts.show.map_title') %></a></li>
     <li><a href="#tabs-3"><%= t('contacts.show.order_history_title') %></a></li>
   </ul>
<% end %>
<div id="tabs-1">
  <h1><%= t('contacts.show.title') %></h1>

  <%= render :partial => 'contactable/contactable', :locals => {:contactable => @contact} %>

  <ul class='actions'>
    <li class='first'><%= link_to t('actions.back'), contacts_path %></li>
  </ul>
</div>
<div id='tabs-2'>
  <h1><%= t('contacts.show.map_title') %></h1>
  <%= @contact.map.div(:width => 600, :height => 400) if @contact && @contact.map %>
</div>
<div id='tabs-3'>
  <h1><%= t('contacts.show.order_history_title') %></h1>
  <% render :partial => 'orders/list', :locals => {:orders => @contact.orders} %>
  <ul>
    <% @contact.orders.each do |order| %>
      <li><%= link_to "#{order.to_s} - #{order.generated_at}", order_path(order) %></li>
    <% end %>
  </ul>
</div>