<h1>Listing contacts for <%= link_to parent.name, admin_restaurant_path(parent)%></h1>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th class='last'>Actions</th>
  </tr>

<% collection.each_with_index do |resource, index| %>
  <tr class='<%= odd_or_even(index) %>'>
    <td><%=h resource.name %></td>
    <td><%=h resource.age %> Years old</td>
    <td class='last'><%= link_to 'Show', admin_restaurant_contact_path(parent, resource) %> | <%= link_to 'Edit', edit_admin_restaurant_contact_path(parent, resource) %> | <%= link_to 'Destroy', admin_restaurant_contact_path(parent, resource), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class='actions-bar'>
  <%= link_to 'New contact', new_admin_restaurant_contact_path %>
</div>