<h1>Listing countries</h1>

<table class='table'>
  <tr>
    <th>Name</th>
    <th class='last'>Actions</th>
  </tr>

<% collection.each_with_index do |resource, index| %>
  <tr class='<%= odd_or_even(index) %>'>
    <td><%=h resource.name %></td>
    <td class='last'><%= link_to 'Show', [:admin, resource] %> | <%= link_to 'Edit', edit_admin_country_path(resource) %> | <%= link_to 'Destroy', [:admin, resource], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class='actions-bar'>
  <%= link_to "New country", new_admin_country_path %>
</div>