<h1>Viewing <%= resource.name %></h1>
<p>
  <b>Name:</b>
  <%=h resource.name %>
</p>

<%= link_to 'Edit', edit_admin_country_path(resource) %> |
<%= link_to 'Back', admin_countries_path %>

<% content_for :sidebar do %>
  <% content_tag :div, :class => 'block' do %>
    <h3>List</h3>
    <ul class='navigation'>
      <li><%= link_to 'Divisions', admin_country_divisions_path(resource)%></li>
    </ul>
  <% end %>
<% end %>