<h1><%= t('subscriptions.credit_card.title') %></h1>

<% semantic_form_for :profile, :url => {:action => :store_credit_card} do |form| %>
  <% form.semantic_fields_for :credit_card, @profile.credit_card do |f| %>
    <% f.inputs do %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :type, :as => :select, :collection => SubscriptionConfig.gateway.supported_cardtypes.collect {|c| [c.to_s.titleize, c.to_s]} %>
      <%= f.input :number %>
      <%= f.input :verification_value, :size => 4 %>
      <% f.inputs :expiration_date, :name => t('subscriptions.credit_card.expiration_date') do %>
        <%= f.input :month, :as => :select, :collection => (1..12).map  { |i| "%02d" % i } %>
        <%= f.input :year, :as => :select, :collection => (Time.zone.today.year..(Time.zone.today.year+10)) %>
      <% end %>
    <% end %>
    <%= f.buttons %>
  <% end %>
<% end %>
