<h1><%= t('subscriptions.edit.title') %></h1>
<p>
  <span class='label'><%= Subscription.human_attribute_name('plan') %>:</span>
  <%= @subscription.plan.name.titleize %>
</p>
<% semantic_form_for @subscription, :url => subscription_path do |f| %>
  <% f.inputs do %>
    <%= f.input :plan, :name => 'subscription[plan]', :label => t('subscriptions.edit.plan'),  :as => :select, :collection => @allowed_plans.collect {|p| [ p.name, p.id ] } %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button :label => t('subscriptions.edit.change_plan') %>
  <% end %>
<% end %>

<%= link_to t('subscriptions.edit.cancel_subscription'), cancel_subscription_path, :confirm => t('actions.confirm_destroy') %>
