<h1><%= t('subscriptions.history.title') %></h1>
<ul>
  <% @transactions.each do |tx| %>
    <li> <%= tx.created_at %> : <%= tx.action.titleize %> <%= tx.amount.format if tx.amount %> <%= tx.message unless tx.success? %></li>
  <% end %>
</ul>
<%= link_to t('actions.back'), subscription_path %>
