<h1><%= t('.title') %></h1>

<ul class='list actions'>
  <li class='first'><%= link_to t('.new'), new_table_path %></li>
  <li id='table_list_link' style='display:none;'><%= link_to_function t('tables.index.view_as_list'), "Tables.viewAsList()" %></li>
  <li id='table_diagram_link'><%= link_to_function t('tables.index.view_as_diagram'), "Tables.viewAsDiagram()" %></li>
</ul>

<div id='table_list' class='list'>
<% @tables.each_with_index do |table, index| %>
  <div class='table element <%= odd_or_even(index) %>'>
    <h3><%=h table.id %></h3>
    <ul>
      <li><span class='label'><%= Table.human_attribute_name('max_party') %>:</span> <%=h table.max_party %></li>
      <li><span class='label'><%= Table.human_attribute_name('type') %>:</span> <%=h table.type.name %></li>
    </ul>
    <ul class='actions'>
      <li class='first'><%= link_to t('actions.show'), table_path(table) %></li>
      <li><%= link_to t('actions.destroy'), table_path(table), :confirm => t('actions.confirm_destroy'), :method => :delete %></li>
    </ul>
  </div>
<% end %>
</div>

<div id="table_diagram" class='diagram' style='display:none;'>
  <div id='diagram_actions'>
    <div id='edit_diagram_link'><%= link_to_function t('actions.edit'), "Tables.openEditor()" %></div>
    <div id='save_diagram_button' style='display:none;'><%= button_to_function t('actions.save'), "Tables.updatePositions();" %>(<%= link_to_function t('actions.cancel'), 'Tables.closeEditor()' %>)</div>
  </div>
  <% @tables.each do |table| %>
    <div id='<%= table.id %>' class="draggable-table ui-widget-content <%= table.type.symbol %> party_<%= table.max_party %>" style='top: <%= table.top %>px; left: <%= table.left %>px'>
      <h3><%=h table.id %></h3> <span class='handle' style='display:none'>(move)</span>
      <span class='table-actions'>
        <ul class='actions'>
          <li class='first'><%= link_to t('actions.show'), table_path(table) %></li>
          <li><%= link_to t('actions.destroy'), table_path(table), :confirm => t('actions.confirm_destroy'), :method => :delete %></li>
        </ul>
      </span>
    </div>
  <% end %>
</div>
<!-- End demo -->