<h1><%= t('.title') %></h1>

<% semantic_form_for(@table) do |f| %>
  <% f.inputs do %>
    <%= render :partial => 'type', :locals => {:f => f} %>
    <%= render :partial => 'max_party', :locals => {:f => f} %>
    <%= render :partial => 'position', :locals => {:f => f} %>
  <% end %>
  <%= f.buttons %>
<% end %>

<%= link_to t('actions.back'), tables_path %>