<div id='<%= dom_id @restaurant %>'>
  <p>
    <span class='label'><%= Restaurant.human_attribute_name('name') %>:</span>
    <%= in_place_editor_for @restaurant, {:name => 'name'}, {:path => restaurant_path} %>
  </p>
  <p>
    <span class='label'><%= Restaurant.human_attribute_name('include_tax') %>:</span>
    <%= in_place_editor_for @restaurant, {:include_tax => 'include_tax'}, {:path => restaurant_path} %>
  </p>
  <p>
    <span class='label'><%= Restaurant.human_attribute_name('tax_value') %>:</span>
    <%= in_place_editor_for @restaurant, {:tax_value => 'tax_value'}, {:path => restaurant_path} %>
  </p>

  <p>
    <span class='label'><%= Restaurant.human_attribute_name('timezone') %>:</span>
    <%= in_place_editor_for @restaurant, {:timezone => 'timezone'}, {:display => @restaurant.timezone.blank? ? '-' : @restaurant.timezone ,:path => restaurant_path} %>
  </p>
</div>