<div class='modal'>
<% semantic_form_for(@restaurant, :url => {:controller => :setup, :action => :save_restaurant}) do |f| %>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :timezone %>
  <% end %>
  <%= f.buttons %>
<% end %>
<%= link_to_previous_step :setup %> | <%= link_to_next_step :setup %>
</div>