<h1>Listing products</h1>

<table class='table'>
  <tr>
    <th class='first'>Product type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th class='last'>Actions</th>
  </tr>

<% @products.each_with_index do |product, index| %>
  <tr class='<%= odd_or_even(index) %>'>
    <td><%=h product.product_type.name %></td>
    <td><%=h product.name %></td>
    <td><%=h product.description %></td>
    <td><%=h number_to_currency(product.price, :unit => "$") %></td>
    <td class='last'><%= link_to 'Show', product_path(product) %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class='actions-bar'>
  <%= link_to 'New product', new_product_path %>
</div>