<h2><%= t('user_sessions.new.title')%></h2>

<% semantic_form_for UserSession.new do |f| %>
  <% f.inputs do %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean, :required => false %>
  <% end %>

  <%= f.buttons %> <%= link_to_function t('actions.reset_password'), "$('#login').hide(); open_modal('reset')" %> <%= link_to_function t('actions.signup'), "$('#login').hide(); open_modal('signup')" %> <%= link_to_function t('actions.cancel'), "$('#login').hide()" %>
<% end %>