<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Bon Appetit</title>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= javascript_include_tag 'jquery.templating' %>
  <%= javascript_include_tag 'jquery.ui.autocomplete.ext' %>
  <%= javascript_include_tag 'jquery.ui.autocomplete' %>
  <%= javascript_include_tag 'jrails' %>
  <%= javascript_include_tag 'jintastic' %>
  <%= javascript_include_tag 'calendar' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.jgrowl' %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'g.raphael' %>
  <%= javascript_include_tag 'g.dot' %>
  <%= javascript_include_tag 'g.pie' %>
  <%= javascript_include_tag 'g.line' %>
  <%= javascript_include_tag 'highcharts.src' %>
  <%= javascript_include_tag 'excanvas.compiled' %>

  <% if File.exist? File.join(Rails.public_path, "javascripts/#{controller.controller_name}.js") %>
    <%= javascript_include_tag controller.controller_name %>
  <% end %>
  
  v<script type="text/javascript" src="http://use.typekit.com/yua3zvu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "bon_appetit";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";

    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "menu" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_changes" %>
  <%= stylesheet_link_tag 'calendar' %>
  <%= stylesheet_link_tag 'autocomplete' %>
  <%= stylesheet_link_tag 'jquery.ui.autocomplete' %>
  <%= stylesheet_link_tag 'jquery.jgrowl' %>
  <%= stylesheet_link_tag 'modal' %>
  <%= stylesheet_link_tag 'jquery.ui.core' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8rc3.custom' %>
  <%= stylesheet_link_tag 'jquery.ui.tabs' %>
  <%= stylesheet_link_tag 'tabs' %>

  <% if File.exist? File.join(Rails.public_path, "stylesheets/#{controller.controller_name}.css") %>
    <%= stylesheet_link_tag controller.controller_name %>
  <% end %>

  <%= GMap.header %>
  <%= @contact.map.to_html if @contact && @contact.map %>
</head>
<body>
  <% javascript_tag do -%>
    <%= show_messages(flash) %>
  <% end -%>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/">Bon Appetit</a></h1>
      <% unless current_user.nil? %>
      <ul class='menu'>
          <li><%= link_to t('menu.dashboard'), dashboard_path %></li>
          <li><%= link_to t('menu.orders'), orders_path %></li>
          <li><%= link_to t('menu.tables'), tables_path %></li>
          <li><%= link_to t('menu.contacts'), contacts_path %></li>
          <% if current_restaurant && current_restaurant.manager == current_user %>
            <li class='drop'><%= link_to t('menu.administrator'), '#' %><ul>
              <li><%= link_to t('menu.restaurant'), restaurant_path %></li>
              <li><%= link_to t('menu.subscription'), subscription_path %></li>
              <li><%= link_to t('menu.users'), users_path %></li>
              <li><%= link_to t('menu.products'), products_path %></li>
              <li><%= link_to t('menu.product_types'), product_types_path %></li>
            </ul></li>
          <% end %>
          <li class='drop last'><%= link_to t('menu.welcome', :username => current_user.username), '#' %><ul>
            <li><%= link_to t('menu.logout'), logout_path %></li>
            <li><%= link_to t('menu.profile'), profile_path %></li>
          </ul></li>
        </ul>
      <% end %>
    </div>
    <div id="main">
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <% if @enable_tabs %>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#tabs").tabs();
          });
        </script>
        <div id='tabs'>
          <%= yield :tab_links %>
      <% end %>
          <div id="content" class='<%= controller_name %> <%= controller.action_name %>'>
            <%= yield %>
          </div>
      <% if @enable_tabs %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p><%= t('application.copyright') %></p>
    </div>
  </div>
</body>
</html>
